.btn-material {
    border-radius: 100%;    
    background-color: #3C3940;    
    color: #FFF;
    height: 60px;
    width: 60px;
}

.context-menu-button {
    bottom: 20rem;    
    height: 60px;    
    position: absolute;
    right: 8rem;    
    width: 60px;
}

.context-menu {
    position: absolute;
    bottom: 25rem;
    visibility: hidden;
    list-style: none;
    right: 8rem;
    text-align: right;
}

.context-menu > .item {
    margin-bottom: 1rem;
}

.context-menu > .item > .title {
    background-color: white;
    margin-right: 10px;
    padding: .5rem;    
}