<x-dialog
	:height="468"
	:width="433"
	@onCreate="handleSubmitClick"
	name="create-datasource-dialog"
	title="new data source"
	accept-caption="add data source">
	<form>
		<div class="form-group">
			<label for="type">Data source type</label>
			<input
				v-model="input.type"
				type="text"
				class="form-control"
				id="type"
				maxlength="20"
				placeholder=""
				autocomplete="off">
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<textarea
				v-model="input.description"
				class="form-control"
				id="description"
				maxlength="120"
				rows="3"
				autocomplete="off"></textarea>
		</div>
		<div class="row">
			<div class="col-4">
				<div class="form-group form-group-calendar">
					<label for="date">Date</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><img src="@/assets/img/icon-calendar.svg" alt="date" />
							</div>
						</div>
				        <v-date-picker
				              class="form-control"
				              name="date"
				              locale="es-ES"
				              :popover="{ placement: 'top'}"
				              v-model="input.date"
				              />
					</div>
				</div>
			</div>
			<div class="col-8">
				<div class="form-group">
					<label for="URL">URL</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><img src="@/assets/img/icon-link.svg" alt="source" /></div>
						</div>
						<input
							v-model="input.url"
							type="text"
							class="form-control"
              id="url"
              name="url"
							placeholder="http://"
							autocomplete="off">
					</div>
				</div>
			</div>
		</div>
	</form>
</x-dialog>
