:root {
	--primary1: #f4f2f5;
	--primary2: #9D95A6;
	--primary3: #3C3940;
	--fact1: #f5f9f9;
	--fact2: #cde4e4;
	--fact3: #479696;
	--source1: #F0EEF7;
	--source2: #C4BFD9;
	--source3: #413673;
	--conclusion1: #FDF2F3;
	--conclusion2: #FFE0DB;
	--conclusion3: #FF5345;
	--insight1: #FDF9FB;
	--insight2: #F7EBF2;
	--insight3: #C93F8D;	
}
h1 {
	color: var(--primary3);
	font-size: 1.1rem;
}
body {
	font-family: 'Cabin', sans-serif;
}
.btn {
	border-radius: 0.125rem;
	font-size: 0.875rem;
}
.btn-primary {
	background-color: var(--primary3);
	border: none;
	min-width: 12rem;
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
	background-color: #231E29;
}

/* Forms */
label:not(.form-check-label):not(.custom-file-label) {
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
}
.form-control {
	padding: 0.375rem 0.5rem;
	border-color: white;
	font-size: 0.875rem;
	color: var(--primary3);
}
.form-control:focus {
	border-color: var(--primary2);
}
.input-group-text {
	background-color: white;
	border: none;
	color: var(--primary2);
	padding: 0rem 0.25rem 0 0.5rem;
	line-height: 1;
	font-size: 0.875rem;
}
input[type="date"] {
	padding-right: 0;
	position: relative;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    background: transparent;
    width: 15px;
    height: 20px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--primary2);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--primary2);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--primary2);
}


.vm--container .vm--overlay {
	background-color: rgba(255,255,255,0.85);
}
.vm--container .vm--modal {
	box-shadow: none;
}