<div class="container-fluid">
    <div class="row">
        <div ref="graph" class="graph col-lg-12 col-12">            
        </div>
    </div>
    <context-menu 
        @onDataSource="handleDataSource"
        @onFact="handleFact"
        @onInsight="handleInsight"
        @onConclusion="handleConclusion"
    />    
    <data-source-dialog @onSubmit="handleDataSourceSubmit"/>
    <conclusion-dialog @onSubmit="handleConclusionSubmit" />
    <fact-dialog @onSubmit="handleFactSubmit" />
    <insight-dialog @onSubmit="handleInsightSubmit" />    
</div>