<div class="container-fluid">
    <div class="row">
        <g6-graph 
            class="col-lg-12 col-12" 
            :nodes="nodes"
            :edges="edges" />
    </div>
    <context-menu 
        @onDataSource="handleDataSource"
        @onFact="handleFact"
        @onInsight="handleInsight"
        @onConclusion="handleConclusion"
    />    
    <data-source-dialog @onSubmit="handleDataSourceSubmit"/>
    <conclusion-dialog @onSubmit="handleConclusionSubmit" />
    <fact-dialog @onSubmit="handleFactSubmit" />
    <insight-dialog @onSubmit="handleInsightSubmit" />    
</div>