.custom-wrapper .main-header {
	border-bottom: none;
	padding: 0;
	position: fixed;
	left: 0;
	background-color: rgba(255,255,255,0.8);
}
.main-header .nav-link {
	margin: 1.4rem 0 0 1rem;
}
.nav-link span {
	display: block;
	width: 1.7rem;
	height: 0.18rem;
	margin-bottom: 0.24rem;
	position: relative;
	background: var(--source3);
	z-index: 1;
	border-radius: 0.1rem;
}
.nav-link span:first-child {
	margin-top: 0.18rem;
}
.custom-wrapper .content-wrapper {
	background-color: white;
}
.main-sidebar {
	background-color: var(--primary1);
}
.main-sidebar h1 {
	color: var(--primary3);
	font-size: 1.1rem;
	padding: 0 0 0.5rem 1.5rem;
}
.main-sidebar nav ul {
	padding-left: 1.5rem;
}
.main-sidebar nav ul li {
	position: relative;
}
.main-sidebar ul li a {
	padding-left: 0.75rem;
}
.main-sidebar ul li a:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0.5rem;
	left: 0.1rem;
	width: 0.2rem;
	height: 1rem;
	background-color: transparent;
}
.main-sidebar ul li.active a:before {
	background-color: var(--source3);
}
.main-sidebar ul li.active a {
	color: var(--source3);
}
.main-sidebar a {
	color: #655D6F;
	line-height: 2rem;
}
.main-sidebar a:hover {
	color: var(--source3);
}
.custom-wrapper .brand-link {
	padding: 1.5rem;
}
.custom-wrapper .brand-link .brand-image {
	float: none;
	margin: 0;
}
.custom-wrapper .sidebar {
	padding: 2rem 0;
	border-top: solid 1px var(--source2);
}
.nav.scroll-container {
	margin-top: 2rem;
	padding: 2rem 1rem;
	border-top: solid 1px var(--source2);
}
.custom-wrapper .user-panel {
	position: absolute;
	padding-top: 2rem;
	bottom: 0.8rem;
	left: 0;
	right: 0;
	border-top: solid 1px var(--source2);
}
.custom-wrapper .user-panel .image {
	padding-left: 1.5rem;
}
.custom-wrapper .user-panel img {
	width: 3rem;
	border: solid 2px var(--primary2);
}
.custom-wrapper .user-panel .info {
	padding: 0 0 0 0.750rem;
}
.custom-wrapper .user-panel .info a {
	color: var(--primary3);
	line-height: 3rem;
}
.custom-wrapper .user-panel .info a:hover {
	color: var(--source3);
}
.custom-wrapper .content-wrapper {
	padding: 0;
}
.custom-wrapper .content-wrapper > .content {
	padding: 0;
}
.custom-wrapper .content-wrapper > .content .container-fluid {
	padding-left: 0;
}


.layout-fixed.custom-wrapper {
  width: 100%;
  height: 100%;

  .content-wrapper, .content {
    height: 100%;
  }
}
