<div class="modal-wrapper" :name="name" height="auto"
     :style="{ '--modal-width': width + 'px', '--modal-height': height + 'px' }">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{ title }}</h4>
      <button @click="handleClickClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img src="@/assets/img/icon-close.svg" alt="close" />
      </button>
    </div>
    <div class="modal-body">
      <slot></slot>
    </div>
    <div class="modal-footer">
      <!-- <button @click="handleClickCancel" type="button" class="btn btn-default" data-dismiss="modal">{{ cancelCaption }}</button> -->
      <button @click="handleClickCreate" type="button" class="btn btn-primary">{{ acceptCaption }}</button>
    </div>
  </div>
</div>
