
.create-data-source, label, select, option, button, textarea {
    font-size: .8rem;
}

.card-primary {
    border-radius: 0;
}

.card-body {
    margin-top: .5rem;
}

.normal {
    font-weight: normal;
}