<x-dialog 
	:height="468" 
	:width="433" 
	@onCreate="handleSubmitClick"
	name="create-fact-dialog" 
	title="new fact" 
	accept-caption="add fact">
	<form>
		<div class="form-group">
			<ul class="fact-label">
				<li class="fact-label__item">
					<label for="gain">
						<input @click="handleSelectedType" v-model="input.selectedType" value="gain" name="type" type="checkbox" id="gain">
						<div class="icon-box">
							<i class="fa fa-smile" aria-hidden="true"></i>
						</div>
					</label>
				</li>
				<li class="fact-label__item">
					<label for="pain">
						<input @click="handleSelectedType" v-model="input.selectedType" value="pain" name="type" type="checkbox" id="pain">
						<div class="icon-box">
							<i class="fa fa-frown" aria-hidden="true"></i>
						</div>
					</label>
				</li>
				<li class="fact-label__item">
					<label for="wish">
						<input @click="handleSelectedType" v-model="input.selectedType" value="wish" name="type" type="checkbox" id="wish">
						<div class="icon-box">
							<i class="fa fa-heart" aria-hidden="true"></i>
						</div>
					</label>
				</li>
				<li class="fact-label__item">
					<label for="quote">
						<input @click="handleSelectedType" v-model="input.selectedType" value="quote" name="type" type="checkbox" id="quote">
						<div class="icon-box">
							<i class="fa fa-quote-left" aria-hidden="true"></i>
						</div>
					</label>
				</li>
			</ul>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<textarea class="form-control" v-model="input.description" id="description" rows="3"></textarea>
		</div>
		<div class="form-group">
			<label for="URL">URL</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text"><i class="fa fa-link" aria-hidden="true"></i></div>
				</div>
				<input type="text" class="form-control" v-model="input.url" name="url" id="URL" placeholder="http://">
			</div>
		</div>
	</form>
</x-dialog>